global
  log /dev/log local0
  log /dev/log local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 10s
  timeout client 7d
  timeout server 7d
  timeout client-fin 5s
  timeout server-fin 5s

frontend fe_public_http
  bind :__EDGE_PUBLIC_HTTP_PORT__
  mode tcp
  tcp-request inspect-delay __EDGE_HTTP_DETECT_TIMEOUT_MS__ms
  acl is_tls req.ssl_hello_type 1
  acl is_http req.proto_http
  tcp-request content accept if is_http
  tcp-request content reject if !is_tls !is_http
  use_backend be_ssh_tls_wrapped if is_tls
  use_backend be_http_backend if is_http

frontend fe_public_tls
  bind :__EDGE_PUBLIC_TLS_PORT__ ssl crt __EDGE_HAPROXY_PEM_FILE__ alpn http/1.1
  mode tcp
  tcp-request inspect-delay __EDGE_HTTP_DETECT_TIMEOUT_MS__ms
  acl is_http req.proto_http
  tcp-request content accept if is_http
  use_backend be_http_backend if is_http
  default_backend be_ssh_classic

backend be_http_backend
  mode tcp
  option tcp-check
  server nginx_http __EDGE_NGINX_HTTP_BACKEND__ check

backend be_ssh_classic
  mode tcp
  option tcp-check
  server ssh_classic __EDGE_SSH_CLASSIC_BACKEND__ check

backend be_ssh_tls_wrapped
  mode tcp
  option tcp-check
  server ssh_tls_wrapped __EDGE_SSH_TLS_BACKEND__ check
