[Unit]
Description=Apply Adblock nftables rules
After=network-online.target __ADBLOCK_DNS_SERVICE__
Wants=network-online.target __ADBLOCK_DNS_SERVICE__
ConditionPathExists=__ADBLOCK_SYNC_BIN__

[Service]
Type=oneshot
ExecStart=__ADBLOCK_SYNC_BIN__ --apply

[Install]
WantedBy=multi-user.target
