[Unit]
Description=Update Adblock artifacts
After=network-online.target __XRAY_SERVICE__ __ADBLOCK_DNS_SERVICE__
Wants=network-online.target
ConditionPathExists=__ADBLOCK_SYNC_BIN__

[Service]
Type=oneshot
ExecStart=__ADBLOCK_SYNC_BIN__ --update --reload-xray-if-enabled

[Install]
WantedBy=multi-user.target
