[Unit]
Description=Autoscript BadVPN UDPGW
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-__BADVPN_RUNTIME_ENV_FILE__
ExecStart=__BADVPN_LAUNCHER_INSTALL_PATH__ __BADVPN_BIN_INSTALL_PATH__ __BADVPN_RUNTIME_ENV_FILE__
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
