[Unit]
Description=Hysteria 2 Server (Spike)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=__HYSTERIA2_BIN__ server -c __HYSTERIA2_CONFIG_FILE__
Restart=always
RestartSec=2
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
