[Unit]
Description=Hysteria 2 udpHop NAT rules
After=network-online.target
Wants=network-online.target
Before=__HYSTERIA2_SERVICE_NAME__

[Service]
Type=oneshot
ExecStart=__HYSTERIA2_UDPHOP_RULES_BIN__ apply
ExecStop=__HYSTERIA2_UDPHOP_RULES_BIN__ remove
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
