[Unit]
Description=Run OpenVPN expiry access synchronizer periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=30s
Unit=__OPENVPN_EXPIRED_SERVICE_NAME__
Persistent=true

[Install]
WantedBy=timers.target
