[Unit]
Description=OpenVPN TCP internal service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-__OPENVPN_RUNTIME_ENV_FILE__
ExecStart=/usr/sbin/openvpn --config __OVPN_SERVER_CONF__
Restart=always
RestartSec=2
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
