[Unit]
Description=Run SSH WS QAC enforcer every 10 seconds

[Timer]
OnBootSec=2min
OnUnitActiveSec=10s
AccuracySec=2s
Unit=sshws-qac-enforcer.service
Persistent=true

[Install]
WantedBy=timers.target
