[Unit]
Description=Run xray-observe periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=xray-observe.service
Persistent=true

[Install]
WantedBy=timers.target
