[Unit]
Description=ZIVPN UDP Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=__ZIVPN_BIN_INSTALL_PATH__ server -c __ZIVPN_CONFIG_FILE__
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
